body{
    background-color: greenyellow;
}
#show_sketch{
    float: right;
    margin-right: 10px;
}
label{
    font-size: 20px ;
}
h1{
    background-color: white;
}
canvas{
    animation-name: ani;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 30px;
    background-color: white;
    border-radius: 25px;
}

@keyframes ani {
    from {box-shadow: 30px 30px 60px blue}
    to {box-shadow: 30px 30px 60px blueviolet;}
}
#score{
    float: left;
}
#timer{
    float: right;
}